{% extends "layout/base.html" %}

{% block contents %}
<div class="container" style="margin-top: 30px;">
   <h4>Data Siswa</h4>
   <hr/>
   <div class="row">
    
        <table class="table table-bordered" id="tblBalita" style="font-size: 13px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nama Balita</th>
                    <th>Jenis Kelamin</th>
                    <th>Usia</th>
                    <th>Berat Badan</th>
                    <th>Tinggi Badan</th>
                    <th>LiLA</th>
                    <th>Kelas Gizi</th>
                </tr>
            </thead>
            <tbody>
                
            {% for balita in dBalita %}
            <tr>
                <td>{{ balita.ord }}</td>
                <td>{{ balita.nama }}</td>
                <td>{{ balita.jk }}</td>
                <td>{{ balita.usia }}</td>
                <td>{{ balita.berat_badan }}</td>
                <td>{{ balita.tinggi_badan }}</td>
                <td>{{ balita.lila }}</td>
                <td>{{ balita.kelas_gizi }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
   </div>
   <div>
    <label>Keterangan</label>
    <br/>
    <img src="https://s3.jagoanstorage.com/aditia-storage/asset/keterangan.png">
   </div>
</div>

<script>
    $("#tblBalita").dataTable();
</script>
{% endblock contents %}