{% extends "layout/base.html" %}

{% block contents %}
<div class="container" style="margin-top: 30px;">
   <h4>Data Balita (Konversi Nilai Normalisasi)</h4>
   <hr/>
   <div class="row">
        <table class="table table-bordered" id="tblBalita" style="font-size: 13px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nama Balita</th>
                    <th>Jenis Kelamin</th>
                    <th>Usia</th>
                    <th>Berat Badan</th>
                    <th>Tinggi Badan</th>
                    <th>LiLA</th>
                    <th>Kelas Gizi</th>
                </tr>
            </thead>
            <tbody>
                
                {% for balita in dBalita %}
                <tr>
                    <td>{{ balita.ord }}</td>
                    <td>{{ balita.nama }}</td>
                    <td>{{ balita.jk }}</td>
                    <td>{{ balita.usia }}</td>
                    <td>{{ balita.berat_badan }}</td>
                    <td>{{ balita.tinggi_badan }}</td>
                    <td>{{ balita.lila }}</td>
                    <td>{{ balita.kelas_gizi }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
   <hr/>
   <h4>Representasi sebaran data</h4>
   <hr/>
   <div class="row">
    <label><strong>Jenis Kelamin</strong></label>
    <ul>
        <li>Laki Laki : {{ rpJk.JK1 }}</li> 
        <li>Perempuan : {{ rpJk.JK2 }}</li> 
        <li>Total : <b>{{ rpJk.total }} </b> <span style="color: green;">&#10004;</span></li>
    </ul>
    <br/>
    <label><strong>Usia</strong></label>
    <ul>
        <li>Usia 1 : {{ rpUsia.U1 }}</li> 
        <li>Usia 2 : {{ rpUsia.U2}}</li> 
        <li>Usia 3 : {{ rpUsia.U3 }}</li> 
        <li>Usia 4 : {{ rpUsia.U4 }}</li> 
        <li>Usia 5 : {{ rpUsia.U5 }}</li> 
        <li>Total : <b>{{ rpUsia.total }}</b><span style="color: green;">&#10004;</span></li>
    </ul>
    <br/>
    <label><strong>Berat Badan</strong></label>
    <ul>
        <li>Berat badan 1 : {{ rpBb.BB1 }}</li>
        <li>Berat badan 2 : {{ rpBb.BB2 }}</li>
        <li>Berat badan 3 : {{ rpBb.BB3 }}</li>
        <li>Berat badan 4 : {{ rpBb.BB4 }}</li>
        <li>Berat badan 5 : {{ rpBb.BB5 }}</li>
        <li>Berat badan 6 : {{ rpBb.BB6 }}</li>
        <li>Berat badan 7 : {{ rpBb.BB7 }}</li>
        <li>Berat badan 8 : {{ rpBb.BB8 }}</li>
        <li>Berat badan 9 : {{ rpBb.BB9 }}</li>
        <li>Berat badan 10 : {{ rpBb.BB10 }}</li>
        <li>Total : <b>{{ rpBb.total }}</b><span style="color: green;">&#10004;</span></li>
    </ul>   
   </div>
</div>

<script>
    $("#tblBalita").dataTable();
</script>
{% endblock contents %}