{% extends "layout/base.html" %}

{% block contents %}
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://s3.jagoanstorage.com/aditia-storage/asset/ilustrasi/CREATIVE_TEAM.png" alt="" width="530">
        <h1 class="display-5 fw-bold">Aplikasi Klasifikasi Status Gizi Balita</h1>
        <div class="col-lg-6 mx-auto">
          <h4 style="margin-bottom: 20px;">
              Sistem klasifikasi status gizi balita menggunakan metode Naive Bayes <br/> 
          </h4>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="javascript:void(0)" class="btn btn-primary btn-lg px-4 gap-3">Proses Analisa</a>
          </div>
        </div>
      </div>
</div>
{% endblock contents %}