{% extends "layout/base.html" %}

{% block contents %}
<div class="container" style="margin-top: 30px;">
    <h4>Proses Klasifikasi</h4>
    <small>Silahkan input data pengujian</small>
    <hr/>
    <div class="row">
        <div class="col-6 col-lg-6">
            <div class="form-group">
                <label>Nama Balita</label>
                <input type="text" class="form-control" id="txtNamaBalita">
            </div>
            <div class="form-group">
                <label>Jenis Kelamin</label>
                <select class="form-control" id="txtJk">
                    <option value="1">Laki Laki</option>
                    <option value="2">Perempuan</option>
                </select>
            </div>
            <div class="form-group">
                <label>Usia</label>
                <select class="form-control" id="txtUsia">
                    <option value="1">U1</option>
                    <option value="2">U2</option>
                    <option value="3">U3</option>
                    <option value="4">U4</option>
                    <option value="5">U5</option>
                </select>
            </div>
            
        </div>
        <div class="col-6 col-lg-6">
            <div class="form-group">
                <label>Berat Badan</label>
                <select class="form-control" id="txtBeratBadan">
                    <option value="1">BB1</option>
                    <option value="2">BB2</option>
                    <option value="3">BB3</option>
                    <option value="4">BB4</option>
                    <option value="5">BB5</option>
                    <option value="6">BB6</option>
                    <option value="7">BB7</option>
                    <option value="8">BB8</option>
                    <option value="9">BB9</option>
                    <option value="10">BB10</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tinggi Badan</label>
                <select class="form-control" id="txtTinggiBadan">
                    <option value="1">TB1</option>
                    <option value="2">TB2</option>
                    <option value="3">TB3</option>
                    <option value="4">TB4</option>
                    <option value="5">TB5</option>
                    <option value="6">TB6</option>
                    <option value="7">TB7</option>
                    <option value="8">TB8</option>
                    <option value="9">TB9</option>
                    <option value="10">TB10</option>
                </select>
            </div>
            <div class="form-group">
                <label>Lingkar Lengan</label>
                <select class="form-control" id="txtUsia">
                    <option value="1">LL1</option>
                    <option value="2">LL2</option>
                    <option value="3">LL3</option>
                    <option value="4">LL4</option>
                    <option value="5">LL5</option>
                </select>
            </div>
            
        </div>
    </div>
    <div style="text-align: center;margin-top:20px;">
        <a href="javascript:void(0)" class="btn btn-lg btn-primary">Proses prediksi naive bayes</a>
    </div>
</div>
<script>
    document.querySelector("#txtNamaBalita").focus();
</script>
{% endblock contents %}